<app-header></app-header>


<div class="body-box">


    <div class="what-we-do-block card">
        <div class="tile-title"> Title Goes here: ex: Seniors Yoga</div>
        <div class="card-body">

           description about the program

        </div>
    </div>
    <!-- Registration Link-->
    <div class="inc-details">
        <a href="https://forms.gle/ZDpPgFZFTMpRtScS8" target="_blank" class="register-btn">Register Here</a>
    </div>

    <!-- Any pamplet/any image if we have.-->
    <div class="inc-details">
        <img width="700" height="500" src="/assets/img/YTT.jpg">
    </div>
</div>


<app-footer></app-footer>