<app-header></app-header>


<div class="body-box">


    <div class="what-we-do-block card">
        <div class="tile-title"> {{program.title}}</div>
    
    </div>

    <div *ngFor="let control of program.controls">

        <!-- Registration Link-->
        <div *ngIf="control.isHref"  class="inc-details  margin-phone">
            <a href="{{control.buttonLink}}" target="_blank" class="register-btn">{{control.buttonText}}</a>
        </div>

        <!-- Router Link-->
        <div *ngIf="control.isRouterLink"  class="inc-details  margin-phone">
            <a *ngIf="control.isRouterLink" [routerLink]="control.buttonLink" class="register-btn">{{control.buttonText}}</a>
        </div>

        <!-- Any pamplet/any image if we have.-->
        <div *ngIf="control.isImage" class="inc-details ">
            <img width="700" height="500" src="{{control.buttonLink}}">
        </div>
    </div>
    
   
</div>


<app-footer></app-footer>