<div class="body-box">
    <div class="what-we-do-block card">
        <div class="tile-title"> Our Association</div>
        <div class="card-body">
            Vivekananda Yoga of San Diego is established with an intention to bring the benefits of authentic Yoga and
            spread the message of Yoga – Health, Happiness and Harmony (HHH). Lead teacher Mr. Subbarao Nemani is
            experienced teacher Certified by Council for Yoga Accreditation International, Yoga Alliance (E-RYT 200, RYT
            500) and Faculty of SVYASA. He has conducted Yoga Instructor Courses and workshops in San Diego, Phoenix,
            Chicago and other places
        </div>
    </div>

    <div class="what-we-do-block card">
        <div class="tile-title"> HEALTH, HAPPINESS & HARMONY</div>
        <div class="card-body">
            Vivekananda Yoga of San Diego is a registered non-profit organization 501(c) (3) with IRS. EIN# 83-3066629.
            Primary purpose is to promote healthy lifestyle in local community by conducting introductory Yoga seminars
            and classes for adults and children.
            <ul>
                <li>Conduct children classes to promote healthy living, wellness education, value of physical exercises
                    and mindful eating habits.</li>
                <li>Conduct classes for adults to promote stress reduction, healthy living, yoga exercises and wellness.
                </li>
                <li>Spread the awareness about benefits of Yoga, active and healthy lifestyle</li>
                <li>Invite experts in the fields to train volunteers for promoting healthy living and practice of Yoga.
                </li>
                <li>To promote mindfulness among adults and children through Yoga</li>
            </ul>
        </div>
    </div>
    <div class="what-we-do-block card">
            <div class="tile-title"> We are located at </div>
            <div class="card-body">
                <ul>
                    <li>9825 Carroll Centre Rd #400, San Diego, CA 92126</li>
                </ul>
            </div>
        </div>

    <div class="center font50">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="YKWCSE358WUYE">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit"
                title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
            <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>

</div>