<app-header></app-header>


<div class="what-we-do-block card">
  <div class="card-body"> Vivekanada Yoga has been conducting Workshops and Programs to promote healthy lifestyle based on Yogic Principles. <br> Our Yoga workshops cover wide range of topics and are well attended. Some of the topics are listed below,
    please <b>click</b> on the program to see the detail of each program.</div>
</div>

<div id="accordion" class="margin1">


    <div *ngFor="let program of programs">
        <div class="card margin1">
          <div class="card-header" id="{{'h1'+program.id}}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" attr.data-target="#{{'b1'+program.id}}" aria-expanded="true" attr.aria-controls="{{'h1'+program.id}}">
                {{program.date}}  {{program.title}}
              </button>
            </h5>
          </div>
      
          <div id="{{'b1'+program.id}}" class="collapse" attr.aria-labelledby="{{'h1'+program.id}}" data-parent="#accordion">
            <div class="card-body">
                <div class="center">{{program.description}}</div>
    
                <div class="inc-details" *ngFor="let control of program.controls">
                  <a href="{{control.buttonLink}}" target="_blank" class="register-btn">{{control.buttonText}}</a> <br>
                </div>
    
            </div>
          </div>
        </div>
    </div>

   
</div>

<app-footer></app-footer>
