<app-header></app-header>


<div class="what-we-do-block card">
  <div class="card-body"> Vivekanada Yoga conducts variety of Workshops and Programs. Please click on the program name to get more details.</div>
</div>

<div id="accordion" class="margin1">

    <!-- 2021 Diabetes Program : copy this block, and changel all h1 to h2 and b1 to b2.. -->
    <div class="card margin1">
      <div class="card-header" id="h1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#b1" aria-expanded="true" aria-controls="b1">
            02/20/2021  Stop Diabetes Saptaah
          </button>
        </h5>
      </div>
  
      <div id="b1" class="collapse" aria-labelledby="h1" data-parent="#accordion">
        <div class="card-body">
            <div class="center">YOGA FOR PREVENTION AND MANAGEMENT OF TYPE 2 DIABETES - FREE ONLINE SESSIONS</div>

            <div class="inc-details">
                <a href="/assets/img/VY_DPM2021.jpg" target="_blank" class="register-btn">Flyer</a>
                <a href="/assets/img/dpm2021.pdf" target="_blank" class="register-btn">More Details</a>
                <a href="#" target="_blank" class="register-btn">YouTube Link</a>
            </div>

        </div>
      </div>
    </div>

    <!-- 2021 Programs -->

    
  
  
    <!-- 2020 Programs -->


</div>

<app-footer></app-footer>
