<app-header></app-header>

<div class="body-box">
    <div class="what-we-do-block card">
        <div class="tile-title"> {{program.title}}</div>
    </div>
    <div class="inc-details  margin-phone"  *ngFor="let control of program.controls"> 
        <a *ngIf="control.isHref" href="{{control.buttonLink}}" target="_blank" class="register-btn">{{control.buttonText}}</a>
        <img *ngIf="control.isImage" width="700" height="500" src="{{control.buttonLink}}">
    </div>
</div>

<app-footer></app-footer>
