<!--The content below is only a placeholder and can be replaced.-->

<div class="navbar-background">
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link active" data-toggle="tab" href="#Home">Home</a>
  <a class="nav-item nav-link" data-toggle="tab" href="#Yoga_Classes">Yoga Classes</a>
  <a class="nav-item nav-link" data-toggle="tab" href="#Kids_Classes">Kids Classes</a>
  <a class="nav-item nav-link" data-toggle="tab" href="#Yoga_Instructors_Course">Yoga Instructors Course</a>
  <a class="nav-item nav-link" data-toggle="tab" href="#Instructors">Instructors</a>
  <a class="nav-item nav-link" data-toggle="tab" href="#Gallery">Gallery</a>
  <a class="nav-item nav-link" data-toggle="tab" href="#AboutUs">AboutUs</a>

</nav>
</div>

<div class=tab-content>
  <div class="tab-pane active" id=Home><app-home></app-home></div>
  <div class="tab-pane" id=Yoga_Classes><app-yogaclasses></app-yogaclasses></div>
  <div class="tab-pane" id=Kids_Classes><app-kidsclasses></app-kidsclasses></div>
  <div class="tab-pane" id=Yoga_Instructors_Course><app-instructorcourse></app-instructorcourse></div>
  <div class="tab-pane" id=Instructors><app-instructor></app-instructor></div>
  <div class="tab-pane" id=Gallery><app-gallery></app-gallery></div>
  <div class="tab-pane" id=AboutUs><app-aboutus></app-aboutus></div>

</div>

<div>
        <!-- <router-outlet></router-outlet> -->
</div>
