<!--Navbar-->
<nav class="navbar navbar-light light-blue lighten-4">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#"></a>

  <!-- Collapse button -->
  <button id="collapseBtn" class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <div class="navbar-background">
        <nav class="nav nav-pills nav-fill">
          <a class="width100 nav-item nav-link active" data-toggle="tab" href="#Home" (click)="onLinkClick()">Home</a>
          <a class="width100 nav-item nav-link" data-toggle="tab" href="#Yoga_Classes" (click)="onLinkClick()">Yoga Classes</a>
          <a class="width100 nav-item nav-link" data-toggle="tab" href="#Kids_Classes" (click)="onLinkClick()">Kids Classes</a>
          <a class="width100 nav-item nav-link" data-toggle="tab" href="#Yoga_Instructors_Course" (click)="onLinkClick()">Yoga Teacher Training</a>
          <a class="width100 nav-item nav-link" data-toggle="tab" href="#Instructors" (click)="onLinkClick()">Teachers</a>
          <a class="width100 nav-item nav-link" data-toggle="tab" href="#Gallery" (click)="onLinkClick()">Gallery</a>
          <a class="width100 nav-item nav-link" data-toggle="tab" href="#AboutUs" (click)="onLinkClick()">AboutUs</a>
        
        </nav>
        </div>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->



 <!-- Update if there is any  news here.-->
 <!-- <div class="what-we-do-block card">
  <div class="tile-title"> On-Going new classes </div>
  <div class="card-body">
    links for regestration
    or any other text.
    
  </div>
 </div>
 -->


<div class=tab-content>
  <div class="tab-pane active" id=Home><app-home></app-home></div>
  <div class="tab-pane" id=Yoga_Classes><app-yogaclasses></app-yogaclasses></div>
  <div class="tab-pane" id=Kids_Classes><app-kidsclasses></app-kidsclasses></div>
  <div class="tab-pane" id=Yoga_Instructors_Course><app-instructorcourse></app-instructorcourse></div>
  <div class="tab-pane" id=Instructors><app-instructor></app-instructor></div>
  <div class="tab-pane" id=Gallery><app-gallery></app-gallery></div>
  <div class="tab-pane" id=AboutUs><app-aboutus></app-aboutus></div>

</div>

<div>
        <!-- <router-outlet></router-outlet> -->
</div>
