<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <!-- Guruji block -->

        
        <!-- <div class="carousel-item active">
            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/n_s_rao.jpg" alt="First slide">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Yoga Acharya Subba Rao Nemani</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>The Founder & Director - Lead Yoga Teacher</code>
                                    </h2>


                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>A senior yoga teacher certified by Quality Council of India
                                                            -sponsored by Government of India.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Lecturer in yoga philosophy, Patanjali Yoga Sutras, Vedanta,
                                                            Karma Yoga, Raja Yoga, Bhakti Yoga, Jnana Yoga etc.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>A senior faculty at Vyasa ( A Yoga University), Bengaluru,
                                                            India with 3000 hours of training at top class yoga
                                                            institutions of repute in India like Divine Life Society -
                                                            Rishikesh (Shivandanda Ashram), Svyasa, Dayananda Ashram -
                                                            Rishikesh
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Besides conducting yoga instructor’s Course and yoga classes
                                                            in San Diego, he is conducting Stop Diabetes Movement and
                                                            stress management programs all over USA, in collaboration
                                                            with SEWA international.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Designer and conductor of youth development programs at
                                                            reputed institutions like Vivekananda Institute of Human
                                                            excellence, Ramakrishna Mission and Vivekananda Kendra,
                                                            Kanyakumari
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>Lecturer in yoga philosophy, Patanjali Yoga Sutras, Vedanta,
                                                            Karma Yoga, Raja Yoga, Bhakti Yoga, Jnana Yoga etc.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Experienced in conducting yoga classes for students in
                                                            Asana, Pranayama, Mudras, Bandhas and meditative techniques.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                </header>
                                <footer
                                    class="animated zoomInDown ease-out-quad d-2 a-1 absolute left-0 bottom-2 w-100">
                                    <a class="link fw9 dark-blue" target="_blank">
                                        <div class="row">
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p>14+ Years of Excellence</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p> 500+ professionals trained</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p>10,000+ Happy Clients</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p>25+ certifications</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </footer>
                            </div>
                        </main>
                    </div>
                </div>

            </div>
        </div>  -->

        <div class="carousel-item active">

            <div class="body-box">
                <div class="row">
                   <div class="col-md-4 instructor-page">
                        <img src="../../assets/img/guruji_2.jpg" alt="First slide" width="95%">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
									<h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Subba Rao Nemani</code>
                                    </h1>
                                    <h3 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Eryt – 500, YACEP
                                            <br>
                                            Certified Yoga Teacher, Dept of AYUSH, Govt. of India,
                                            <br>
                                            Certified Yoga Therapist, SVYSA Yoga University,
                                            <br>
                                            Certified teacher in Yoga and Vendata by Divine Life Society, Shivanandashram, Rsishikesh, India.
                                        </code>
                                    </h3>
                                </header>

                                <div class="row">
                                    <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                        <a
                                            class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                            <div class="card">
                                                <div class="container">
                                                    <p>

                                                        Born into a family of Yoga and Vedanta practitioners, Sri Subba Rao has been a student of Yoga from a very early age. Guruji, as his students affectionately call him, resigned from a promising career as a senior financial executive to pursue a more meaningful life through Yoga. 
														Since then, yoga is a Pravrutti (a way of relating oneself with the outer world) and Nivrutti (a way of being in touch with the inner self). In short, practicing yoga and teaching yoga has been a way of life for him since then.
														<br><br>
														He has received intense training of more than 5000 hours, in yoga and Vedanta, as a full-time residential trainee, at reputed yoga schools like:
														<li>Svyasa Yoga University, Bengaluru (svyasa.edu.in)</li>
														<li>Sivandashram, Rishikesh (dlshq.org)</li>
														<li>Dayanandashram, Rishikesh (dayananda.org)</li>
														<li>Vivekananda Kendra, Kanyakumari (vrmvk.org)</li>
														<li>Bihar School of Yoga (biharyoga.net)</li>
														<li>Morarji Desai National Institute of Yoga, New Delhi (yogamdniy.nic.in)</li>
														<br><br>
														Guruji has been teaching yoga and Vedanta for the last 25 years. As a faculty of Svyasa Yoga University, he inspired and trained thousands of Yoga teachers and students in India and the USA. He is passionate about teaching Traditional and Authentic yoga to deepen, inspire, stoke, lead, and guide participants to take tangible steps towards their inner growth. Guruji believes that Yoga in its pristine and authentic form opens a rare opportunity to experience the depth and dimensions of our existence, and helps us grow to our full potential. 
														<br><br>
														To ensure yoga is accessible to all, he has assimilated the best features of different Yoga schools of India and molded them into a unique integrated, holistic, and gentle style.
														<br><br>
														After moving to the USA in 2013, he has conducted about 4o Diabetes Management programs in many cities in the USA in association with Sewa International, sewausa.org, and Svysa.
														<br><br>
														He is the inspiration behind starting Vivekananda Yoga, San Diego a nonprofit yoga institute to spread the message of health, happiness, and harmony in the USA through yoga. With hundreds of yoga teachers and thousands of students trained under it, Vivekananda Yoga, San Diego is a vibrant organization. He is passionate about teaching students and adults alike. His mature and selfless counseling attitude draws students to him. No surprise then that Vivekananda Yoga has hundreds of teacher volunteers, well-wishers, and admirers. 

                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div>

        <!-- Paul block -->
        <div class="carousel-item">


            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/paul.jpg" style="margin-top: 18%" alt="First slide" width="550" height="550">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Paul Moore</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Teacher (RYT200)</code>
                                    </h2>


                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>In 2016 he attended an international yoga festival in Rishekesh India, becoming more aware of a wider range of yoga practices.
                                                           Paul has been practicing for nine years.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>His positive experiences in the Vivekananda 2018 Yoga Instructors' Course reinforces the yogic saying, "When the student is ready, the teacher appears."
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>Paul enjoys inspiring others to practice yoga and to improve their physical and mental health. Paul is also a board member of USA Yoga, a non-profit dedicated to inspiring yoga practice.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>He began practicing at age 57 as therapy to relieve knee pain. Two weeks of practice made a big difference. More importantly, Paul began to notice positive mental changes: greater calmness, better reaction to stress, and more patience. From that point on, it only seemed natural to stop and take a yoga class on the drive home from work.
“I’m amazed at the power of yoga to transform your body and mind. The knee pain that drove me to begin practicing was a blessing."
The first international yoga championship that he watched inspired him to practice even more. One day a teacher showed him a couple of advanced postures, suitable for use in the competition. Since then he has been in six regional, five national and one international competition. He says that "Preparing for the competitions transformed my practice.”
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </header>

                            </div>
                        </main>
                    </div>
                </div>

            </div>



        </div>

        <!-- Praveen block 
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/header_logo.png" style="margin-top: 18%" alt="First slide" width="550" height="550">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Praveen Appani</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Teacher (RYT 200)</code>
                                    </h2>
                                </header>

                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div> -->

        <!-- Mithun block -->
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/mithun.jpeg" style="margin-top: 18%" alt="First slide" width="550" height="550">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Mithun Kumar Ranganath</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Instructor (RYT200)</code>
                                    </h2>
                                </header>

                                <div class="row">
                                    <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                        <a
                                            class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                            <div class="card">
                                                <div class="container">
                                                    <p>

                                                        Mithun first started practicing yoga in 1999 at the age of 12. Since then, he has remained a yoga enthusiast culminating with taking the Yoga Instructor Course in 2017 with Vivekananda Yoga(YRS200).
                                                         Taking the Instructor Course marked the point at which Yoga transformed from being an enthusiasm to being a passion. 
                                                        Mithun is passionately interested in the traditional and holistic forms of yoga, rather than the neo-modern forms. The majority of his practice centres on the traditions of hatha yoga, pranayama and meditation.
                                                        <br><br>
                                                        Mithun practices a primarily Sattvic lifestyle - one that is governed by spiritual principles and harmony. He believes in the healing power of Omkara - the primordial sound.
                                                        <br><br>
                                                        Mithun practices Surya Namaskar and finds that a few quick rounds of Surya Namaskar is very effective at providing a burst of energy that can power the day ahead.
                                                        
                                                        <br><br>
                                                        In addition to practicing Yoga, Mithun engages in various sporting activities like volleyball, badminton, tennis, marathon running etc. Through it all, he believes that Yoga is the glue between the mind-body complex and external activities.
                                                        <br><br>
                                                        Mithun volunteers in leading regular weekly yoga classes at his workplace; he also participates in various volunteering activities in support of Vivekananda Yoga.
                                                       
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div>


        <!-- Subha Ekambaram block -->
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/shubha.png" style="margin-top: 18%;margin-left: 16%;" alt="First slide" width="550" height="550">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Subha Ekambaram</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Teacher (RYT200)</code>
                                    </h2>
                                </header>

                                <div class="row">
                                    <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                        <a
                                            class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                            <div class="card">
                                                <div class="container">
                                                    <p>

                                                        Subha has been a student of yoga for over 20 years. She likes to incorporate aspects of body
                                                        awareness, use yoga/pranayama as effective tools to journey into contemplative states of
                                                        being. Mindfulness, mental health and mental hygiene are some of the areas she loves to bring
                                                        to students in her class. She likes traditional yoga which includes ample practices for regulating
                                                        breath, healing chants, paying homage to the teacher lineage, including the entire universe
                                                        within the sphere of wellness, setting intentions and raising one's vibration. She is actively
                                                        involved in the Phoenix yoga community - with daily online classes for women, coordinating a
                                                        community yoga class in the park (a Sewa project). She also helps with organizing the
                                                        international yoga day celebrations with Dharma focused organizations (HSS, Sewa). She is
                                                        especially passionate about bringing yoga to children, having written a story about a playful
                                                        monkey Manas (a metaphor for mind), who performs asanas and pranayama, and ends up
                                                        finding the calmness that was always within him. Having grown up in close proximity to the
                                                        Chennai Ramakrishna Math, and influenced by the Vedanta teachings of Swami Vivekananda
                                                        from childhood, along with those like J Krishnamoorthy, Ramana Maharshi – she considers
                                                        hatha yoga, pranayama as one of the door ways for softly treading into the realms of peace and
                                                        tranquility, in the path of self-enquiry. 

                                                        <br><br>
                                                        She strives to create, and be a part of a community of yoga practitioners who engage in service,
                                                        grow in presence, and are deeply rooted in the 'being' mode within.
                                                       
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div>


        <!-- Dr. Rashmi Pradhan Vaidya block -->
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/rashmi.jpg" style="margin-top: 72%;margin-left: 14%;" alt="First slide" width="auto" height="auto">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Dr. Rashmi Pradhan Vaidya </code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Instructor (RYT200)</code>
                                    </h2>
                                </header>

                                <div class="row">
                                    <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                        <a
                                            class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                            <div class="card">
                                                <div class="container">
                                                    <p>

                                                        Rashmi is a surgeon trained in India, US and Japan and currently practices Breast Surgical
                                                        Oncology i.e surgical treatment of breast cancer patients to remove cancer in their breast and
                                                        lymph nodes. She charts the cancer care of her patients in collaboration with her team of
                                                        medical and radiation oncologists , nutritionists, geneticists and yoga therapists to provide
                                                        Comprehensive Cancer Care in Phoenix Arizona.<br><br>
                                                         Rashmi had been seeking a gentler yet wholesome way of exercise after repeated knee injuries
                                                        and considers herself fortunate to have been serendipitously introduced to Vivekananda Yoga
                                                        teacher training in December 2019. Having had no prior yoga experience, she surprised herself
                                                        with how much she enjoyed the training itself and how much she learnt of yoga in the holistic
                                                        sense. Besides recovering from her knee pain she was able to perform asanas she had never
                                                        done before, all within the 6 months of the yoga teacher training. <br><br>
                                                        Rashmi continues to practice yoga on a regular basis and volunteers to teach Yoga with the
                                                        non-profit Sewa organization in Phoenix. She is also working on bringing yoga to her patients
                                                        early during the active part of their treatment due to its myriad proven benefits for both mind
                                                        and body. She looks forward to sharing her unique vision of yoga, culled from the
                                                        amalgamation of the modern science perspective and the study of yoga as an ancient and
                                                        enduring way of life. 
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div>

        <!-- Amita Advani block -->
        <div class="carousel-item">

                    <div class="body-box">
                        <div class="row">
                            <div class="col-md-4 instructor-page">
                                <img src="../../assets/img/amita.png" style="margin-left: 30%; width: 50%; height: 80%;" alt="First slide" width="auto" height="auto">
                            </div>
                            <div id="inst_page" class="column  instructor-page col-md-6">
                                <main class="measure tc sans-serif black-80 absolute absolute--fill">
                                    <div class="flex flex-column justify-center items-center h-100">
                                        <header>
                                            <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                                <code class="db black-40">Amita Advani</code>
                                            </h1>
                                            <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                                <code>Yoga Instructor (RYT 200)</code>
                                            </h2>
                                        </header>
        
                                        <div class="row">
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p>
        
                                                                Amita began her yoga journey in 2015. A few years later she enrolled in Yoga Teacher’s Training (YTT) with Vivekananda Yoga in San Diego, with an intention to deepen her personal practice. The most valuable lesson she received from YTT was mindfulness and awareness of the present moment, not only during the yoga practice, but also during her day to day activities. 
                                                                <br><br>
                                                                Amita loves hiking, being in nature, and spending time with family & friends. She enjoys her daily pranayama and meditation practices, especially the chanting of Omkara. She is an engaging yoga instructor. Every class is a gift - an opportunity to offer others the goodness that she has found in her own yoga practice. She is passionate about uniting the mind - body consciousness, and she would love to join you on your journey!  
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>
        </div>

          <!-- Ashwini Oke block -->
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="col-md-4 instructor-page">
                        <img src="../../assets/img/ashwini.jpeg" style="margin-top: 25%;margin-left: 30%; width: 50%; height: 80%;" alt="First slide" width="auto" height="auto">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Ashwini Oke</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code> Masters Degree in Yoga, SVYASA, Bangalore
                                            <br> Yoga Instructor (RYT 200)</code>
                                    </h2>
                                </header>

                                <div class="row">
                                    <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                        <a
                                            class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                            <div class="card">
                                                <div class="container">
                                                    <p>

                                                        Ashwini got her first training in teaching Yoga from Yoga Vidya Niketan Mumbai. She got this unique experience under the guidance of Acharya Sadashiv Nimbalkar while pursuing the degree of Physical Therapy, which gave her the opportunity to bring in and practice Yogic techniques complementary to physical therapy.
Her increasing interest in the field of Yoga brought her to pursue a Master’s degree in Yoga from SVYASA Bangalore, Yoga Institute founded by Dr HR Nagendra, world renowned Yoga Guru. She also had the opportunity to receive RYT200 training, at Vivekananda Yoga San Diego under the guidance of Acharya Subbarao Nemani, which further enhanced her teaching experience.
                                                        <br><br>
                                                        She wants to bring Yoga to every individual for promotion of Positive Health and believes that the practice of Yoga improves health holistically through conditioning the body, regulating the breath, and rejuvenating the spirit. She understands that keeping the body physically, mentally, and emotionally sound is the purpose of Yoga, so we can make the instrument of our existence ready for further and higher spiritual growth.
                                                        <br><br>
                                                        As a part of an integrated approach of Yoga therapy (IAYT), Ashwini is trained in different advanced techniques like Self-Management of Excessive Tension (SMET) and wishes to use these technique to treat common ailments such as diabetes, hypertension, Bronchial Asthma, cancer, and autoimmune diseases. She also wants to work on developing emotion culture through Bhakti Yoga - chanting, and different types of meditation techniques to bring a healthy balance between the logical and creative parts of the personality and peace of mind in these modern and stressful times.
                                                        <br><br>
                                                        Her passion is to explore Yogic dimensions other than Asanas, Pranayamas, and Kriyas in terms of scriptural understanding. She has an experiential belief that Yoga can bring bliss and contentment, which is contagious and can be spread to the whole universe. Yoga has power to connect the people with the bond of love, bringing health, peace, and harmony.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <!-- Shubangi Yogi block -->
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="col-md-4 instructor-page">
                        <img src="../../assets/img/Shubangi.jpeg" style="margin-top: 18%;margin-left: 30%; width: 50%; height: 80%;" alt="First slide" width="auto" height="auto">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Shubangi Yogi</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>  Yoga Instructor (RYT 200)</code>
                                    </h2>
                                </header>

                                <div class="row">
                                    <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                        <a
                                            class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                            <div class="card">
                                                <div class="container">
                                                    <p>

                                                        For Shubhangi, the journey of Yoga has been fortuitous to say the least. She dabbled in Yoga on and off but never pursued it consistently. That changed during the pandemic. She was eager to try something new, to put her athletic abilities to good use. That is when she heard about the Yoga Teacher training with Vivekananda Yoga and joined this rewarding program in June 2020.
                                                        <br><br>
                                                        Growing up, Shubhangi was an active sportsperson. She even participated in 'Mala-Khamb', an Indian style Aerial Gymnastic arts which needs extreme flexibility. She also served in the youth National Cadet Corps (NCC). The foundational seed to learn Yoga and to become a teacher was sown during those early years.
                                                        <br><br>
                                                        Under Yoga Acharya Sri Subbarao Nemani's (Guruji) tutelage, Shubhangi has realized the true meaning of Yoga. She believes that Yoga is not just about physical advanced asanas, but it also plays a pivotal role in calming the mind and opening a door towards spiritual knowledge that lifts you away from the mundane things in life. She likes the traditional aspects of Yoga such as Hatha, Pranayama, and Meditation. She wants to follow the footsteps of her Guruji and bring this most authentic and traditional form of Yoga to people all over the world.
                                                        <br><br>
                                                        In addition to Yoga, Shubhangi enjoys dancing, hiking, and running marathons. She is also a makeup artist/cosmetologist. Shubhangi volunteers at Hindu Swayamsevak Sangh (HSS) and participates in 'Sewa International' non-profit fundraisers.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="sr-only">Previous</span>
        <i class="fas fa-long-arrow-alt-left arrows"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="sr-only">Next</span>
        <i class="fas fa-long-arrow-alt-right arrows"></i>

    </a>
</div>