<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="true">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/n_s_rao.jpg" alt="First slide">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Yoga Acharya Subba Rao Nemani</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Lead Yoga Teacher</code>
                                    </h2>
                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>A senior yoga teacher certified by Quality Council of India
                                                            -sponsored by Government of India.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Lecturer in yoga philosophy, Patanjali Yoga Sutras, Vedanta,
                                                            Karma Yoga, Raja Yoga, Bhakti Yoga, Jnana Yoga etc.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>A senior faculty at Vyasa ( A Yoga University), Bengaluru,
                                                            India with 3000 hours of training at top class yoga
                                                            institutions of repute in India like Divine Life Society -
                                                            Rishikesh (Shivandanda Ashram), Svyasa, Dayananda Ashram -
                                                            Rishikesh
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Besides conducting yoga instructor’s Course and yoga classes
                                                            in San Diego, he is conducting Stop Diabetes Movement and
                                                            stress management programs all over USA, in collaboration
                                                            with SEWA international.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Designer and conductor of youth development programs at
                                                            reputed institutions like Vivekananda Institute of Human
                                                            excellence, Ramakrishna Mission and Vivekananda Kendra,
                                                            Kanyakumari
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>Lecturer in yoga philosophy, Patanjali Yoga Sutras, Vedanta,
                                                            Karma Yoga, Raja Yoga, Bhakti Yoga, Jnana Yoga etc.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-width">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p> Experienced in conducting yoga classes for students in
                                                            Asana, Pranayama, Mudras, Bandhas and meditative techniques.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                </header>
                                <footer
                                    class="animated zoomInDown ease-out-quad d-2 a-1 absolute left-0 bottom-2 w-100">
                                    <a class="link fw9 dark-blue" target="_blank">
                                        <div class="row">
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p>14+ Years of Excellence</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p> 500+ professionals trained</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p>10,000+ Happy Clients</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="column animated bounceIn ease-in-quad d-2 mt4 four-cards">
                                                <a
                                                    class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                    <div class="card">
                                                        <div class="container">
                                                            <p>25+ certifications</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </a>
                                </footer>
                            </div>
                        </main>
                    </div>
                </div>

            </div>
        </div>
        <div class="carousel-item">


            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/paul.jpg" style="margin-top: 18%" alt="First slide" width="550" height="550">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Paul Moore</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Teacher</code>
                                    </h2>


                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>In 2016 he attended an international yoga festival in Rishekesh India, becoming more aware of a wider range of yoga practices.
                                                           Paul has been practicing for nine years.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>His positive experiences in the Vivekananda 2018 Yoga Instructors' Course reinforces the yogic saying, "When the student is ready, the teacher appears."
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>Paul enjoys inspiring others to practice yoga and to improve their physical and mental health. Paul is also a board member of USA Yoga, a non-profit dedicated to inspiring yoga practice.
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column animated bounceIn ease-in-quad d-2 mt4 card-single">
                                            <a
                                                class="dib link bw1 b--solid b--dark-blue dark-blue fw9 pa3 br3 hover-white hover-bg-dark-blue">
                                                <div class="card">
                                                    <div class="container">
                                                        <p>He began practicing at age 57 as therapy to relieve knee pain. Two weeks of practice made a big difference. More importantly, Paul began to notice positive mental changes: greater calmness, better reaction to stress, and more patience. From that point on, it only seemed natural to stop and take a yoga class on the drive home from work.
“I’m amazed at the power of yoga to transform your body and mind. The knee pain that drove me to begin practicing was a blessing."
The first international yoga championship that he watched inspired him to practice even more. One day a teacher showed him a couple of advanced postures, suitable for use in the competition. Since then he has been in six regional, five national and one international competition. He says that "Preparing for the competitions transformed my practice.”
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </header>

                            </div>
                        </main>
                    </div>
                </div>

            </div>



        </div>



<!-- Praveen block -->
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/header_logo.png" style="margin-top: 18%" alt="First slide" width="550" height="550">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Praveen Appani</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Teacher</code>
                                    </h2>
                                </header>

                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div>

        
        <!-- Mithun block -->
        <div class="carousel-item">

            <div class="body-box">
                <div class="row">
                    <div class="column instructor-page">
                        <img src="../../assets/img/header_logo.png" style="margin-top: 18%" alt="First slide" width="550" height="550">
                    </div>
                    <div id="inst_page" class="column  instructor-page col-md-6">
                        <main class="measure tc sans-serif black-80 absolute absolute--fill">
                            <div class="flex flex-column justify-center items-center h-100">
                                <header>
                                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3 center">
                                        <code class="db black-40">Mithun Kumar Ranganath</code>
                                    </h1>
                                    <h2 class="animated fadeInUp ease-out-circ d-1 a-2 f2 fw3 center">
                                        <code>Yoga Teacher</code>
                                    </h2>
                                </header>

                            </div>
                        </main>
                    </div>
                </div>

            </div>

        </div>



    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="sr-only">Previous</span>
        <i class="fas fa-long-arrow-alt-left arrows"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="sr-only">Next</span>
        <i class="fas fa-long-arrow-alt-right arrows"></i>

    </a>
</div>