<div class="body-box">

    <div class="what-we-do-block card">
        <div class="tile-title">Methodology</div>
        <div class="card-body">
            <p class="center">Yoga Postures, Pranayama, Guided Meditation, Games, Songs and stories</p> 
        </div>
    </div>

    <div class="what-we-do-block card">
        <div class="tile-title">What do kids get from the yoga </div>
        <hr>
        <div class="card-body">


            <div id="kids_carousel" class="carousel slide" data-pause="false" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#kids_carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#kids_carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">

                            <div class="kids_caro">
                                <h3>Physical fitness:</h3> Strength, stamina, flexibility, dexterity, posture, gait and
                                confident and graceful looks.
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">

                            <div class="kids_caro">
                                <h3> Mental fitness:</h3>Improves concentration, calms down the mind. Children
                                experience the joy and freedom
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">

                            <div class="kids_caro">
                                <h3> Emotional culturing:</h3> Cultivating the positive emotions like love, compassion,
                                confidence etc and weed out negative
                                emotions like jealousy, anger, fear, anxiety, Discriminatory Faculties (Budhi) ,
                                Social skills
                                (leadership, Decision making, goal setting etc) and respect to our Culture.
                            </div>

                        </div>

                    </div>

                </div>

            </div>




        </div>
    </div>


    <!-- <div class="inc-details">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScn1DSNRpnXruy13r8a1s-zS8zd3IckRfOFuxFi8gns-WrwLQ/viewform" target="_blank" class="register-btn">Register Here</a>
        </div>
        <div class="inc-details">
            <img width="500" src="../../assets/img/kids_yoga_foster.jpg">
        </div> -->
</div>