<div class="body-box">
<div class="main-div">
  <div class="card-deck">
    <div class="card">
      <h1  class="tile-title">OUR VISION</h1>
      <div class="card-body">
        
        <p class="card-text">Our vision is to promote a healthy lifestyle, reducing stress through mindfulness and yoga.</p>
        
      </div>
    </div>
    <div class="card">
       <h1 class="tile-title">OUR MISSION</h1>
      <div class="card-body">
        
        <p class="card-text">Our mission is to spread awareness of the benefits of yoga, active lifestyle and mindfulness to achieve a healthy balanced lifestyle by conducting classes, seminars for both adults and children.</p>
        
      </div>
    </div>
    <div class="card">
       <h1 class="tile-title">OUR VALUES</h1>
      <div class="card-body">
        
        <p class="card-text">
          We meet people where they inspire themselves towards healing, evolution, and personal growth.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="what-we-do-block card">
    <div class="tile-title">What we do</div>
    <div class="card-body">
 Through the means of Yoga, we help to train body and mind to create awareness of our own nature in an easy to understand step by step process. Classes focus on Asana, Pranayama, relaxation and meditation techniques. Yoga philosophy and other deeper aspects of Ashtanga Yoga are explored in advanced and Yoga instructors classes.
Training includes review of challenges in this Yoga journey, introduction to best practices to overcome these challenges, tips for effective diet and suggestions for making lifestyle changes.
</div>
</div>




<div class="section-content">
          <div class="row">
            <div class="col-sm-4 col-md-4 mb-xs-20">
              <div class="image-box text-center">
                <div class="thumb">
                  <img src="./assets/img/health.png" width="128" alt="">
                </div>
                <div class="image-box-details pt-20 pb-xs-20">
                  <h4 class="title">Health</h4>
                  <p class="desc mb-10" style="margin-left:2%">You are truly healthy when you are not just physically fit but also mentally and emotionally balanced</p>
                  <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 mb-xs-20">
              <div class="image-box text-center">
                <div class="thumb">
                  <img src="./assets/img/happiness.png" width="128" alt="">
                </div>
                <div class="image-box-details pt-20 pb-xs-20">
                  <h4 class="title">Happiness </h4>
                  <p class="desc mb-10">It is time we sit and make a self-audit accept where we are and start living consciously</p>
                 <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="image-box text-center">
                <div class="thumb">
                  <img src="./assets/img/harmony.png" width="128" alt="">
                </div>
                <div class="image-box-details pt-20">
                  <h4 class="title">Harmony </h4>
                  <p class="desc mb-10">Vivekananda Yoga cover an integrated approach to cater to the wellbeing of self and wellbeing of all creation</p>
                 <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>



  <div class="section-content">
    <div class="row">
      <div class="col-sm-4 col-md-4 mb-xs-20">
        <div class="thumb">
          <img class="img-fullwidth" alt="" src="./assets/img/two.jpg">
        </div>
        <div class="p-20 bg-white">
          <h4 class="text-theme-colored mt-0">Physical- Wellbeing  </h4>
          <p class="mb-10">The following practices are imparted to gain an ideal posture, gait, strength, stamina, flexibility, dexterity and suppleness of the body</p>
          <ul>
            <li>Sithilakarana Vyayama (Loosening Exercises)</li>
            <li>Sookshma Vyayama (Subtle Exercises) </li>
            <li>Asana (Yoga Postures)</li>
            <li>Kriyas (Yogic Cleansing practices) </li>
          </ul>
        <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
        </div>
      </div>
  <div class="col-sm-4 col-md-4 mb-xs-20">
    <div class="thumb">
      <img class="img-fullwidth" alt="" src="./assets/img/one.jpg">
    </div>
    <div class="p-20 bg-white">
      <h4 class="text-theme-colored mt-0">Mental – Wellbeing</h4>
      <p class="mb-10">Practices to calm down &amp; restore the balance of the mind to ensure focusing when needed and defocus &amp; rest at other times are imparted by</p>
      <ul>
      <li>Breathing Exercises</li>
      <li>Yoga Nidra</li>
      <li>Guided meditation</li>
      <li>Dharana</li>
      <li>Dhyana</li>
      </ul>
      <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumb">
      <img class="img-fullwidth" alt="" src="./assets/img/three.jpg">
    </div>
    <div class="p-20 bg-white">
      <h4 class="text-theme-colored mt-0">Emotional – Wellbeing </h4>
      <p class="mb-10">Emotions are powered thoughts.Lack of awareness &amp; acceptance of the emotions makes life dysfunctional. Positive emotions can be gained by
      </p><ul>
      <li>Mirroring back </li>
      <li>Sharing experience</li>
      <!-- <li>• Bhajans</li>
      <li>• Chantings</li> -->
      </ul>
      <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
    </div>
    </div>
    </div>
  </div>
  </div>


