<div class="body-box">
<div class="main-div">

  <div class="tile-title"> <img src="./assets/img/shout.png" style="width: 3%;height: 3%;">Announcements</div>
 <div class="what-we-do-block card card-deck">
    
    <div class="card">
      <h1  class="tile-title">Free Yoga Workshop for Prevention and Management of Type 2 Diabetes (02/20 - 02/28)</h1>
      <div class="card-body">
        
        <div class="inc-details">
          <a href="https://forms.gle/Xwsqzg1xTzhJMhJn6" target="_blank" class="register-btn">Register Here</a>
          <a href="http://www.vivekanandayoga.us/dpm2021.php" target="_blank" class="register-btn">More Details</a>
        </div>
        
      </div>
    </div>
</div> 

<div class="what-we-do-block card card-deck">
    
  <div class="card">
    <h1 class="tile-title">COVID-19 Mitigation/ Online Classes Schedule</h1>
   <div class="card-body">
     
     <div class="inc-details">
       <a href="http://www.vivekanandayoga.us/classes.php" target="_blank" class="register-btn">More Details</a>
    </div>
     
   </div>
 </div>

</div>

<hr>
  
  <div class="what-we-do-block card">
    <div class="tile-title"> HEALTH, HAPPINESS & HARMONY</div>
    <div class="card-body">
        Vivekananda Yoga of San Diego is a registered non-profit organization 501(c) (3) with IRS. EIN# 83-3066629.
        Primary purpose is to promote healthy lifestyle in local community by conducting introductory Yoga seminars
        and classes for adults and children.
        <ul>
            <li>Conduct children classes to promote healthy living, wellness education, value of physical exercises
                and mindful eating habits.</li>
            <li>Conduct classes for adults to promote stress reduction, healthy living, yoga exercises and wellness.
            </li>
            <li>Spread the awareness about benefits of Yoga, active and healthy lifestyle</li>
            <li>Invite experts in the fields to train volunteers for promoting healthy living and practice of Yoga.
            </li>
            <li>To promote mindfulness among adults and children through Yoga</li>
        </ul>
        <div class="center font20">
        <p><b>Paypal Donation Link</b>
          <a href="https://www.paypal.com/us/fundraiser/charity/3728362"
              target="_blank" class="donate-btn">Donate</a> <br> <br> 
              <b>Zelle:</b> vivekananda.yoga.sd@gmail.com
        </p>
        </div>

       <!--<div class="center font50">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="YKWCSE358WUYE">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit"
                  title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
              <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div> --> 

    </div>
</div>



  <div class="card-deck">
    <div class="card">
      <h1  class="tile-title">OUR VISION</h1>
      <div class="card-body">
        
        <p class="card-text">We seek to promote health, happiness and harmony at all levels - physical, mental, emotional, spiritual - through yoga and mindfulness.</p>
        
      </div>
    </div>
    <div class="card">
       <h1 class="tile-title">OUR MISSION</h1>
      <div class="card-body">
        
        <p class="card-text">Our mission is to spread awareness of the benefits of yoga, active lifestyle and mindfulness to achieve a healthy balanced lifestyle by conducting classes, seminars for both adults and children.</p>
        
      </div>
    </div>
    <div class="card">
       <h1 class="tile-title">OUR VALUES</h1>
      <div class="card-body">
        
        <p class="card-text">
          We believe everyone has the power to help themselves. We provide them with life tools to heal, evolve and grow.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="what-we-do-block card">
    <div class="tile-title">What we do</div>
    <div class="card-body">
      We are more than a body mind complex. However an exploration into deeper aspects of life is not possible without a strong body and a stable mind. So we seek to employ various tools envisioned by the rishis to gain physical strength and mental fortitude. Our community yoga classes focus on asanas, pranayama, relaxation, and meditation.Advanced  and teacher training classes include learning of kriyas or cleansing techniques, what constitutes a healthy diet, understanding of the 8 limbs of ashtanga yoga, yogic philosophy, lectures by experts in health and medicine, Sanskrit, and an exploration of ancient texts. Overall, we look at yoga as a way of life, instead of as an hourly practice on the mat.
<br><br>
We seek to promote health and wellness in our community by conducting regular yoga classes and educating our participants on practices that enhance our quality of life. We practice traditional yoga neither diluting nor flavoring - to preserve and pass on this treasure trove of knowledge in its original form.
<br><br>
Some of our highlights include
<br>
<li>Free workshops focused on prevention and management of common ailments.</li>
<li>Sessions focused on pranayama, meditation to reduce excessive mental activity and provide deep relaxation.</li>
<li>Understand and practice the philosophy of yoga from texts such as the Bhagavad Gita, Patanjali Yoga Sutras.</li>
<li>Teach basic Sanskrit to self study ancient texts.</li>
<li>Camps and classes for children to develop a strong body and sharp mind. Special focus on emotional intelligence for teenagers.</li>
<li>Collaborate with health experts, practitioners of traditional medicine and alternative medicine to find the common thread of wellness that unites all of us.</li>
</div>
</div>




<div class="section-content">
          <div class="row">
            <div class="col-sm-4 col-md-4 mb-xs-20">
              <div class="image-box text-center">
                <div class="thumb">
                  <img src="./assets/img/health.png" width="128" alt="">
                </div>
                <div class="image-box-details pt-20 pb-xs-20">
                  <h4 class="title">Health</h4>
                  <p class="desc mb-10" style="margin-left:2%">We are truly healthy when our well-being encompasses the physical, mental, emotional, social, and spiritual realms.</p>
                  <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 mb-xs-20">
              <div class="image-box text-center">
                <div class="thumb">
                  <img src="./assets/img/happiness.png" width="128" alt="">
                </div>
                <div class="image-box-details pt-20 pb-xs-20">
                  <h4 class="title">Happiness </h4>
                  <p class="desc mb-10">Happiness is not acquiring more stuff. It’s the expression of our inner joy, in living an authentic, conscious and fulfilling life.</p>
                 <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="image-box text-center">
                <div class="thumb">
                  <img src="./assets/img/harmony.png" width="128" alt="">
                </div>
                <div class="image-box-details pt-20">
                  <h4 class="title">Harmony </h4>
                  <p class="desc mb-10">Harmony is when our personal well-being is in sync with the well-being of all creation. It’s also the balance between various aspects of our own life.</p>
                 <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>



  <div class="section-content">
    <div class="row">
      <div class="col-sm-4 col-md-4 mb-xs-20">
        <div class="thumb">
          <img class="img-fullwidth" alt="" src="./assets/img/two.jpg">
        </div>
        <div class="p-20 bg-white thumb">
          <h4 class="text-theme-colored mt-0">Physical- Wellbeing  </h4>
          <p class="mb-10">The following practices are imparted to gain an ideal posture, gait, strength, stamina, flexibility, dexterity and suppleness of the body</p>
          <ul>
            <li>Sithilakarana Vyayama (Loosening Exercises)</li>
            <li>Sookshma Vyayama (Subtle Exercises) </li>
            <li>Asana (Yoga Postures)</li>
            <li>Kriyas (Yogic Cleansing practices) </li>
          </ul>
        <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
        </div>
      </div>
  <div class="col-sm-4 col-md-4 mb-xs-20">
    <div class="thumb">
      <img class="img-fullwidth" alt="" src="./assets/img/one.jpg">
    </div>
    <div class="p-20 bg-white thumb">
      <h4 class="text-theme-colored mt-0">Mental – Wellbeing</h4>
      <p class="mb-10">Practices to calm down and to take a break from incessant thinking. Train the mind to focus when needed and defocus at other times</p>
      <ul>
      <li>Breathing Exercises</li>
      <li>Yoga Nidra</li>
      <li>Guided meditation</li>
      <li>Dharana</li>
      <li>Dhyana</li>
      </ul>
      <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumb">
      <img class="img-fullwidth" alt="" src="./assets/img/three.jpg">
    </div>
    <div class="p-20 bg-white thumb">
      <h4 class="text-theme-colored mt-0">Emotional – Wellbeing </h4>
      <p class="mb-10">Emotions are thoughts that carry a lot of charge and energy. Inability to manage one’s emotions could make one’s life dysfunctional. Equanimity can be gained by practices such as </p>
      <ul>
        <li>Understanding the emotional scale</li>
        <li>Being in the observer mode</li>
        <li>Mirroring back </li>
        <li>Sharing experience</li>
      <!-- <li>• Bhajans</li>
      <li>• Chantings</li> -->
      </ul>
      <!-- <a class="btn btn-dark btn-theme-colored mt-10" href="#">Read more</a> -->
    </div>
    </div>
    </div>
  </div>
  </div>


